body {
  margin: 10;
  padding: 0;
}
#header {
  box-sizing: border-box;
  background: #ccc;
  height: 50px;
}
#main {
  box-sizing: border-box;
  margin-left: 220px;
  padding: 20px 40px;
}
#sub {
    box-sizing: border-box;
    top: 100px;
    height: 40%;
    width: 220px;
    position: fixed;
    overflow: auto;
    background: #eee;
    padding: 20px;
}